<p><%= @tweet.user %></p>
<p><%= @tweet.tweet %></p>
<p><%= link_to "edit", "/tweets/#{@tweet.id}/edit", method: :get%></p>
<p><%= link_to "DESTROY ME", "/tweets/#{@tweet.id}", method: :destroy %></p>
<p><a href="/">Back to All Tweets </a>
